
/* Flex-wrap css */
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
  
  .flex-wrap > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

/* Flex-direction css */

.flex-direction {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}

.flex-direction > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* Flex-flow css */
.flex-flow {
  display: flex;
  flex-flow: row wrap;
  background-color: DodgerBlue;
}

.flex-flow > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* Justify-content */
.justify-content > div{
  background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.justify-content{
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
}

/* align-items */
.align-items > div{
  background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.align-items{
  display: flex;
  align-items: center;
  background-color: DodgerBlue;
  height: 200px;
}


/* align-content css */

.align-content {
  display: flex;
  height: 300px;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: scroll;
  background-color: DodgerBlue;
}

.align-content > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
